@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Work Sans";
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font-size-small: 1rem;
    --font-size-medium: 1.5rem;
    --font-size-large: 2rem;
    --font-size-xlarge: 2.5rem;
    --primary-color: #FF900E;
    --secondary-color: #FFF4E7;
    --primary-font-color: #424242;
    --normal-font-color: #727272;
}

.primary-btn {
    font-size: var(--font-size-small);
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
}

header {
    padding: 15px 150px 30px;
    background-color: var(--secondary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: var(--font-size-large);
}

nav ul {
    display: flex;
    gap: 50px;
}

nav li {
    display: inline;
}

nav a {
    font-weight: 500;
    text-decoration: none;
    color: var(--primary-font-color);
}

.banner {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.title {
    font-size: var(--font-size-xlarge);
    text-align: center;
}

.description {
    font-size: 14px;
    text-align: center;
    width: 750px;
    color: var(--normal-font-color);
}

.banner img {
    max-width: 100%;
    margin-top: 15px;
}

.features {
    padding: 70px 150px 0px;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
}

.features-details {
    display: flex;
    flex-direction: column;
    gap: 14px;
    justify-content: center;
}

.features-title {
    font-size: var(--font-size-large);
}

.features-title .color-one {
    color: var(--normal-font-color);
    font-weight: 500;
}

.features-title .color-two {
    color: var(--primary-color);
}

.features-description {
    color: var(--normal-font-color);
    font-size: 14px;
}

.features-details button {
    align-self: flex-start;
}

.features-img {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: right;
}

.features-img img {
    flex: 1 1 calc(50%);
    max-width: 45%;
}

@media (max-width: 768px) {

    .primary-btn {
        font-size: 10px;
        font-weight: 600;
        color: #fff;
        background-color: var(--primary-color);
        padding: 6px 10px;
        border: none;
        border-radius: 5px;
    }

    header {
        padding: 15px 20px;
        background-color: var(--secondary-color);
    }

    .logo {
        font-size: 15px;
    }

    nav {
        display: flex;
        flex-direction: column;
    }

    nav ul {
        gap: 20px;
    }

    nav a {
        font-size: 10px;
    }

    .banner {
        margin-top: 20px;
        gap: 10px;
    }

    .title {
        font-size: 18px;
    }

    .description {
        font-size: 12px;
        width: 100%;
    }

    .banner img {
        width: 100%;
        margin-top: 8px;
    }

    .features {
        padding: 15px 20px;
        display: grid;
        gap: 15px;
    }

    .features-details{
        gap: 10px;
        align-items: center;
    }

    .features-title{
        font-size: 18px;
        text-align: center;
    }

    .features-description{
        font-size: 12px;
        text-align: center;
    }
    .features-details button{
        align-self: initial;
    }

    .features-img {
        display: flex;
        flex-direction: column;
        flex-wrap: initial;
        gap: 15px;
        justify-content: initial;
        align-items: center;
    }

    .features-img img {
        flex: initial;
        max-width: 80%;
    }

    

}